*{
    margin: 0;
    padding: 0;
}
body{
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width:1040px;
    display: flex;
    flex-direction: column;
    font-family: 'League Spartan', sans-serif;
    gap:25px;
}
.top{
    display: flex;
    height: 300px;
}
.first{
    width:500px;
    display: flex;
    flex-direction: column;
    gap:25px;
    padding-top:55px;
    padding-bottom: auto;
}
.heading{
    font-size:40px;
    width:60%;
    font-weight:700;
    color:hsl(300, 43%, 22%);
}
.hdes{
    width:75%;
    color:hsl(303, 10%, 53%);
}
.second{
    width:500px;
    display: flex;
    flex-direction: column;
    gap:15px;
    align-items: center;
    justify-content: center;
}
.rating{
    width:400px;
    height:25px;
    display: flex;
    border-radius: 5px;;
    gap:30px;
    padding: 10px;;
    justify-content:left;
    align-items: center;
    background-color:hsl(300, 24%, 96%);
}
.rating:nth-child(2){
    position: relative;
    left:40px;
}
.rating:nth-child(3){
    position: relative;
    left:80px;
}
.rev{
    color:hsl(300, 43%, 22%);
    font-weight: 600;
}
.bottom{
    width:1040px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.profile{
    width:270px;
    height:150px;
    padding: 30px;;
    color:white;
    background-color:hsl(300, 43%, 22%);
    border-radius:7px;
    display: flex;
    flex-direction: column;
    gap:30px;
}
.tprof{
    display: flex;
    justify-content: left;
    align-items: center;
    gap:20px;
}
.pic{
    width:35px;
    border-radius:100%;
}
.stat{
    display: flex;
    flex-direction: column;
    gap:5px;
}
.name{
    font-weight: 600;
}
.cert{
    color:hsl(333, 80%, 67%);

}
.profdes{
    line-height: 20px;
    color: hsl(300, 24%, 96%);
}
.profile:nth-of-type(2){
    position: relative;
    top:15px;
}
.profile:nth-of-type(3){
    position: relative;
    top:30px;
}

/* Very Dark Magenta: hsl(300, 43%, 22%)
Soft Pink: hsl(333, 80%, 67%)
Dark Grayish Magenta: hsl(303, 10%, 53%)
Light Grayish Magenta: hsl(300, 24%, 96%)
White: hsl(0, 0%, 100%) */
@media (max-width:1040px){
    .card{
        width:300px;
    }
    .top{
        flex-direction: column;
        gap:30px;
        margin-bottom: 180px;
    }
    .first{
        width:300px;
        gap:20px;
        align-items: center;
        text-align: center;
        padding: 0;
    }
    .second{
        width:300px;
    }
    .heading{
        font-size:35px;
        width:80%
    }
    .hdes{
        width:95%;
        line-height:20px;
        font-size:15px;
    }
    .rating{
        width:90%;
        flex-direction: column;
        height:50px;
        gap:10px;
        justify-content: center;
    }
    .rating:nth-child(2){
        left:0;
    }
    .rating:nth-child(3){
        left:0;
    }
    .rev{
        font-size: 15px;
    }
    .bottom{
        flex-direction: column;
    }
    .profile{
        width:300px;
        height: 220px;;
        padding:30px;
        box-sizing: border-box;
    }
}